body {
  background-color: grey;
}
body {
}


section blockquote:nth-child(odd) {
  width: 32%;
  background-color: rgba(239, 35, 30, .8);
  box-shadow: 5px 10px 10px 5px;
}

header > h1 {
  color: red;
}

section blockquote:nth-child(even) {
  width: 32%;
  background-color: rgba(232, 229, 230, .8);
  box-shadow: 10px 10px 10px 10px;
}

body {
border: 5px solid red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

p.double {border-style:
   double;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 4s; 
  -webkit-animation-direction: reverse; 
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;  
}

@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:grey; left:200px; top:0px;}
  50%  {background-color:black; left:200px; top:200px;}
  75%  {background-color:white; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

